.flowbox-header {
    background-color: #1a2b3c; /* A deep blue color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    padding: 0.5rem 2rem;
  }
  
  .header-container {
    max-width: 1200px; /* You can adjust this depending on your design preference */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flowbox-logo {
    color: #ffffff; /* White color for the logo */
    font-size: 1.5em;
    margin: 0; /* To remove default margin from h1 */
    letter-spacing: 1px;
    text-transform: uppercase; /* Makes the logo text all caps */
    font-weight: 600;
    cursor: pointer; /* Indicates it's clickable, in case you want to link it to the homepage */
  }
  
  /* If you want to add more styling, navigation links, hover effects, etc., you can add those styles here */
  