.cardPhotoCard {
  position: relative;
  align-items: center;
  justify-items: center;
  padding-inline: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.cardPhotoContainer {
  flex: 1;
}

.cardPhotoImage {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.cardPhotoTextLine {
  margin-bottom: 10px;
}

.cardPhotoTextPrimary {
  font-weight: bold;
}
