.search {
  position: relative;
  width: 600px;
  margin: 30px;
}

.search .MuiInputBase-root {
  border-radius: 25px; /* Puedes modificar este valor para obtener el nivel de redondez deseado */
}

.searchIcon {
  margin-right: 20;
  color: black;
}

.searchItem {
  margin-left: 20px;
}
