.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;  /* Ocupa todo el espacio disponible */
}

.footer {
  flex-shrink: 0;  /* No permite que el footer se reduzca */
}